<!DOCTYPE html>
<html lang="en">

{{!-- {{{>head}}} --}}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="https://th.bing.com/th/id/OIP.Jq6ce5haZWdFHwlxlO01xgHaHa?pid=ImgDet&w=221&h=221&c=7&dpr=1.25" type="image/x-icon">
     <title>USER app</title>
</head>

<body>
    {{!-- header begin  --}}
   {{>header}}
    {{!-- header end --}}

    {{!-- hero section begins --}}
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/add-user" class="border-shadow" target="_blank">
                     <span class="text-gradient">New User <i class="fas fa-user"></i></span><i></i>
                     </a>
                </div>
            </div>

            {{!-- form handling --}}
                <form action="/" method="post">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>email</th>
                            <th>Gender</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                       {{#each users}}
                       
                        <tr>
                            <td>{{this._id}}</td>                       
                            <td>{{this.name}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.gender}}</td>
                            <td>{{this.status}}</td>
                            <td>
                                <a href="/update-user" class="btn  border-shadow update">
                                    <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                                </a>
                                <a href="/update-user" class="btn border-shadow delete">
                                    <span class="text-gradient"><i class="fa-solid fa-circle-xmark"></i></span>
                                </a>
                            </td>
                        </tr> 
                        {{/each}}
                    </tbody>
                </table>
                </form>
            {{!-- form handling ends--}}
        </div>
    </main>
    {{!-- hero section ends --}}
    {{>footer}}
